*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: Montserrat, sans-serif;
}

html {
  scroll-behavior: smooth;
}

input,
textarea,
select,
button {
  font: inherit;
}

img {
  display: block;
  max-width: 100%;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}
.hits-sales {
  width: 1240px;
  background: rgb(255, 255, 255);
  margin: 60px 100px 0 100px;
  padding: 0 10px;
}

.hits-sales__nav-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}

.section-title {
  color: rgb(42, 31, 32);
  font-size: 25px;
  font-weight: 600;
  line-height: 30px;
}

.hits-sales__nav-btn-wrapper {
  display: flex;
}

.tab {
  border-radius: 3px;
  padding: 7px 12px;
  background: rgb(244, 244, 244);
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
  cursor: pointer;
  border: 1px solid transparent ;
  transition:all .5s ease-in-out;
}



.hits-sales__nav-btn {
  margin-left: 10px;
}

.tab:active {
    box-sizing: border-box;
    background:rgb(255, 255, 255) ;
    border: 1px solid rgb(188, 188, 188);
}

.swiper-card {
  overflow: hidden;
  position: relative;
  width: 1240px;
  padding: 0 10px;
}

.swiper-slide-card {
  width: 100%;
  display: flex !important;
  justify-content: center !important;
}

.wrapper-card {
  display: flex;
  justify-content: space-between;
  width: 100%;
  overflow: hidden;
}

.swiper-button-next--hits {
  position: absolute;
  right: -5px;
  top: calc(50% - 15px);
  z-index: 10;
  cursor: pointer;
}

.swiper-button-prev--hits {
  position: absolute;
  left: -4px;
  top: calc(50% - 15px);
  z-index: 10;
  cursor: pointer;
}

.swiper-pagination {
  position: absolute !important;
  bottom: -1px !important;
  left: 0 !important;
  width: 100% !important;
  text-align: left !important;
  z-index: 10;
}

.swiper-pagination-bullet {
  background: rgb(211, 210, 210) !important;
}

.swiper-pagination-bullet-active {
  background: rgb(251, 15, 64) !important;
}

.swiper-wrap-img {
  position: relative;
  z-index: 11;
}

.wrapper-img-product {
  position: relative;
  z-index: 11;
}

.swiper-container {
  width: 100%;
  max-width: 100%;
  position: relative;
}

.product-card__top {
  overflow: hidden;
  flex: 0 0 209px;
}

.product-card {
  width: 287px;
  height: 491px;
  border-radius: 10px;
  box-shadow: 0px 2px 7.8px 0px rgba(0, 0, 0, 0.15);
  background: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 15px;
}

.product__label-wrapper {
  display: flex;
  margin-bottom: 15px;
}

.product__label-inner {
  border-radius: 3px;
  background: rgb(251, 15, 64);
  padding: 3px 5px;
  margin-right: 5px;
}

.label-text {
  color: rgb(255, 255, 255);
  font-size: 13px;
  font-weight: 500;
  line-height: 16px;
}

.product__img-wrapper {
  display: flex;
  justify-content: center;
  position: relative;
}


.product-card__bottom {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
}

.product-rating__wrapper {
  display: flex;
  margin-top: 50px;
  align-items: center;
}

.rating__icon-wrapper {
  width: 15px;
  height: 13px;
}

.rating__points {
  color: rgb(255, 176, 0);
  font-size: 14px;
  font-weight: 600;
  line-height: 17px;
  margin-left: 2px;
  margin-bottom: 10px;
}

.product__title {
  color: rgb(42, 31, 32);
  font-size: 17px;
  font-weight: 600;
  line-height: 21px;
}

.product__price-wrapper {
  display: flex;
  align-items: center;
  margin-top: 15px;
  margin-bottom: 10px;
}

.price-new {
  color: rgb(251, 15, 64);
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  margin-right: 5px;
}

.price-old {
  color: rgb(140, 140, 140);
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  text-decoration: line-through;
}

.product__btn {
  border-radius: 10px;
  box-shadow: 0px 6px 14.4px 0px rgba(220, 9, 46, 0.15);
  background: rgb(251, 15, 64);
  padding: 10px 90px;
  color: rgb(255, 255, 255);
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
  border: none;
  margin-bottom: 20px;
  transition: color 0.5s ease-in-out;
}

.product__btn:hover {
background:rgb(210, 3, 44); ;
}

.about-product__wrapper {
  display: flex;
  justify-content: space-between;
}

.about-product__btn {
  border: none;
  cursor: pointer;
  background-color: transparent;
}
