.swiper {
    min-width: 0;
    max-width: 1258px;
}

.swiper-slide {
    text-align: center;
}

.swiper-button-prev::after {
    content: url(./image/prev.png);
    font-size: 11px;
    padding: 11px 16px;
    background: rgb(255, 255, 255);
    color: red;
    box-shadow: -1px 1px 4px 0px rgba(0, 0, 0, 0.1);
    border-radius: 500px;
}

.swiper-button-next::after {
    content: url(./image/next.png);
    font-size: 11px;
    padding: 11px 16px;
    background: rgb(255, 255, 255);
    color: red;
    box-shadow: -1px 1px 4px 0px rgba(0, 0, 0, 0.1);
    border-radius: 500px;
}


.swiper-pagination-bullet {
    width: 30px;
    height: 3px;
    border-radius: 0px;
}

.swiper-pagination-bullets.swiper-pagination-horizontal {
    bottom: auto;
}

.swiper-pagination-bullet-active {
    background-color: rgb(251, 15, 64);
}