.about-us {
    padding: 40px 100px 0 100px;
}

.bread-crumb__menu {
    display: flex;
}

.bread-crumb li:not(:last-child)::after {
    content: "—";
    display: inline-block;
    margin: 0 7px;
    color: rgb(140, 140, 140);
}

.bread-crumb__link {
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    color: rgb(140, 140, 140);
}

.bread-crumb__page {
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    color: rgb(42, 31, 32);
}

.about-us__title {
    color: rgb(42, 31, 32);
    font-size: 25px;
    font-weight: 600;
    line-height: 30px;
    margin: 40px 0;
}

.about-us__img-wrapper {
    width: 100%;
    height: 450px;
    border-radius: 5px;
    background-image: url(../assets/img/about__us-img.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.about-us__desc {
    color: rgb(42, 31, 32);
    font-size: 16px;
    font-weight: 400;
    line-height: 174%;
    margin-top: 30px;
}

.our-mission__content-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 60px 0;

}

.about-us__sub-title {
    color: rgb(42, 31, 32);
    font-size: 18px;
    font-weight: 700;
    line-height: 174%;
    margin-bottom: 15px;
}

.about-us__text {
    display: inline-block;
    color: rgb(42, 31, 32);
    font-size: 16px;
    font-weight: 400;
    line-height: 174%;
    width: 40vw;
}

.our-mission__img-wrapper {
    display: flex;
    width: 40vw;
    height: 230px;
}

.our-mission-img {
    width: 100%;
    object-fit: cover;
}

.product-range__content-wrapper {
    display: flex;
    justify-content: space-between;
}

.product-range__img-wrapper {
    display: flex;
    width: 40vw;
    height: 230px;
}

.product-range__img {
    width: 100%;
    object-fit: cover;
}

.quality__content-wrapper {
    display: flex;
    justify-content: space-between;
    padding-top: 60px;
}

.quality__img-wrapper {
    display: flex;
    width: 40vw;
    height: 230px;
}

.quality-img {
    width: 100%;
    object-fit: cover;
}